<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo comentario</title>
  </head>
  <body>
    <h1>Nuevo comentario</h1>
    <form action="/comentarios" method="POST">
      <input type="text" placeholder="Usuario..." , name="usuario" />
      <br />
      <textarea name="opinion" cols="30" rows="5"></textarea>
      <br />
      <input type="submit" value="Guardar" />
      <a href="/">Cancelar</a>
    </form>
  </body>
</html>
