<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comentario de <%=comentario.usuario %></title>
  </head>
  <body>
    <h2><%=comentario.usuario %></h2>
    <p><%=comentario.opinion %></p>
    <a href="/">Atrás</a>
  </body>
</html>
