body {
	color: rgb(0 0 0 / 0%);
	max-width: 600px;
}
p {color: initial}
div{background-color: rgb(255 0 100 / 10%);
border: 1px solid black;}
div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}
div>div>div>div>div>div>div>div>div>div{background-color: rgb(255 0 100 / 10%)}