<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Alfonso Martínez Kitoko" />
    <link rel="stylesheet" href="estilo.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=film.Title%></title>
  </head>
  <body>
    <h1><%= film.Title %></h1>
    <p><%= film.Plot %></p>
    <p><%= film.Year %></p>
    <% film.Images.forEach(i => { %>
    <img src="<%i%>" alt="imagen" />
    <% }); %>
  </body>
</html>
