body {
	background-color: white;
}
header{
	background-color: #eeeeee;
	color: #42454a;
	font-family: 'Courier New', Courier, monospace;
}
nav {
	margin: auto;
	padding: auto;
	background-color: #113488;
}
nav ul{
	list-style: none;
}
nav li, nav li ul{
	display: inline-block;
	width: 160px;
	position: relative;
}
nav li a{
	text-decoration: none;
	padding: 10px;
	color: white;
}
nav li a:hover, nav li ul a:hover{
	background-color: #226eb7;
}
nav li ul li{
	display: none;
	position: absolute;
	min-width: 140px;
}
nav li:hover > ul li{
	float: left;
	display: block;
}
main{
	& form{
		float: left;
		width: 30%;
		& input[type=submit]{
			background-color: #1c54e4;
			border: black;
			/* color del texto blanco para mayor legibilidad */
			color: white;
		}
	}
}
aside{
	float:left;
	width: 70%;
	& h2{
		color: #1c54e4;
	}
	& p::first-line{
		margin-block: 15px;
	}
	& p:nth-child(even)::before{
			content: "«";
		}
	& p:nth-child(even)::after{
		content: "»";
	}
}
footer{
	background-color: #113488;
	color: white;
}