body {
	background-color: white;
	margin: 0;
	padding: 0;
}
header{
	overflow: hidden;
	background-color: #eeeeee;
	color: #42454a;
	/**/font-family: 'Courier New', Courier, monospace;
}
#navmenu{
  background-color: #1f5b98;
	width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	width: 100%;
}
ul li {
  min-width: 140px;
  background-color: #1f5b98;
  float: left;
  position: relative;
}
ul li a {
  display: block;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
}
ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 140px;
  background-color: #1f5b98;
  padding: 0;
}
ul li:hover > ul {
  display: block;
}
ul li ul li {
  float: none;
  padding: 0;
}
ul li ul li a:hover {
  background-color: #226eb7;
}
a:hover {
  background-color: #226eb7;
}
main{
	display: inline-block;
}
#login{
	float: left;
	width: 30%;
	display: block;
}
input{
	width: 95%;
	margin: 2.5px;
}
input:focus{
	outline: 2px solid black;
}
input[type=submit]{
	background-color: #1f5b98;
	/* color del texto blanco para mayor legibilidad */
	color: white;
	border-radius: 5px;
	border: 2px solid transparent;
	&:hover{
		background-color: #226eb7;
	}
}
#texto{
	float: left;
	width: 70%;
	& h3{
		color: #1f5b98;
	}
	& p::first-line{
		margin-block: 15px;
	}
	& .quote::before{
			content: "«";
		}
	& .quote::after{
		content: "»";
	}
}
footer{/**/
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #113488;
	color: white;
}
*::selection{
	background-color: rgb(225, 220, 255);
}